.footer {
  background-color: #001e00;
  width: 100%;
  padding: 5rem 10%;

  @media only screen and (min-width: 48em) {
    padding: 5rem 1rem;
  }

  @media only screen and (min-width: 56.25em) {
    padding: 5rem 7%;
  }

  @media only screen and (min-width: 75em) {
    padding: 5rem 10%;
  }
}

nav {
  @media only screen and (min-width: 48em) {
    display: flex;
    justify-content: space-between;
  }
}

.nav_items {
  h3 {
    color: #fff;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
  }

  ul {
    list-style-type: none;
    border-bottom: 1px solid #fff;
    margin: 2rem 0;

    @media only screen and (min-width: 48em) {
      border: none;
    }

    li {
      margin: 1rem 0;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      a {
        color: #fff;
        font-size: 1.2rem;
        pointer-events: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.nav_btn {
  background-color: transparent;
  display: inline-block;
  color: #fff;
  transition: 0.5s ease;
  outline: none;
  border: none;
  cursor: pointer;

  @media only screen and (min-width: 48em) {
    display: none;
  }
}

.nav_btn_rotate {
  transform: rotate(-180deg);
}

.connect_us {
  border-bottom: 1px solid #fff;

  @media only screen and (min-width: 48em) {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #fff;
    padding: 2rem 0;
    margin: 2rem 0;
  }

  ul {
    list-style-type: none;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 2.5rem;

    @media only screen and (min-width: 48em) {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: 0;
    }

    li {
      display: flex;
      margin-bottom: 1.5rem;

      @media only screen and (min-width: 48em) {
        margin-bottom: 0;
      }

      a {
        color: #fff;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #fff;
        width: 3.5rem;
        height: 3.5rem;
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: #14a800;
        }
      }
    }
  }
}

.copyright {
  margin-top: 2rem;
  span {
    font-size: 1.2rem;
    color: #fff;
    margin-right: 1rem;
    border-right: 1px solid #fff;
    padding-right: 5px;
  }
}
