$color-text-secondary: rgba(0, 0, 0, 0.5);
$color-primary: #14a800;

form.signup,
form.login,
form.forgot_pswd,
form.reset_pswd {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50rem;
  max-width: 98%;
  padding: 5rem 6%;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1),
    -0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 2rem;

  h2 {
    font-size: 3rem;
    color: $color-primary;
    margin-bottom: 4rem;
    text-align: center;
  }

  label {
    .input_fields {
      width: 100%;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 1.3rem;
      font-size: 1.5rem;
      margin: 1rem 0;
      border-radius: 5px;
    }

    span {
      display: inline-block;
      // color: #14a800;
      font-size: 1.1rem;
      margin-left: 3px;
      transform: translateY(-0.5rem);
    }
  }

  .work_choice {
    margin: 1.5rem 0 3rem;
    text-align: center;
    h3 {
      font-size: 1.5rem;
    }
    span {
      display: inline-block;
      font-size: 1.3rem;
      padding: 1rem 2rem;
      margin: 1rem 0;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      cursor: pointer;

      &:hover {
        background-color: $color-primary;
        color: #fff;
      }
    }
  }

  input[type="checkbox"] {
    margin-right: 1rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);

    & + span {
      font-size: 1.2rem;
    }
  }

  button {
    font-size: 1.4rem;
    color: #fff;
    background-color: $color-primary;
    padding: 1.3rem 0;
    margin-top: 3rem;
    border-radius: 5rem;
    outline: none;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease;

    &:active {
      transform: scale(0.6);
    }
  }

  p {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2rem;
  }
}
