.nav {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
  border-bottom: 1px solid #14a800;

  @media only screen and (max-width: 75em) {
    margin: 0 calc(10% - 3rem);
  }

  @media only screen and (max-width: 56.25em) {
    margin: 0 2%;
  }

  .logo {
    color: #14a800;
    font-size: 3rem;

    @media only screen and (max-width: 56.25em) {
      padding-left: 4rem;
    }
  }

  .nav_items {
    display: flex;
    list-style-type: none;

    @media only screen and (max-width: 56.25em) {
      flex-direction: column;
      background-color: #fff;
      box-shadow: 1rem 0 1rem rgba(0, 0, 0, 0.1);
      width: 60vw;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      z-index: 100;
      padding-top: 1%;
    }
  }

  .nav_icon {
    position: relative;
    z-index: 1000;
  }

  .nav_item {
    font-size: 1.5rem;
    margin: 0 1rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;

    @media only screen and (max-width: 56.25em) {
      padding: 2rem 1rem;
      transition: 0.3s ease;

      &:hover {
        background-color: #14a800;
        color: #fff;
      }
    }
  }

  .search_icon {
    font-size: 1.5rem;
    background-color: #28422542;
    padding: 1rem;
    color: #14a800;
    border-radius: 5rem;
    cursor: pointer;
    margin-right: 3rem;
    display: none;

    @media only screen and (max-width: 75em) {
      display: inline-block;
    }

    @media only screen and (max-width: 21em) {
      margin-right: 1rem;
    }
  }

  .search_box {
    position: relative;

    @media only screen and (max-width: 75em) {
      position: absolute;
      top: 7.6rem;
      right: 23%;
    }

    input {
      font-size: 1.5rem;
      padding: 1rem 1rem 1rem 4rem;
      outline: none;
      border-radius: 5rem;
      border: 0.2px solid rgba(0, 0, 0, 0.3);
    }

    .drop_icon {
      position: absolute;
      top: 50%;
      left: 3%;
      transform: translate(-3%, -50%);
      font-size: 1.3rem;
      color: rgba(0, 0, 0, 0.6);
    }

    .search_drop_btn {
      position: absolute;
      top: 60%;
      left: 9%;
      transform: translate(-9%, -60%);
      height: 0;
      width: 0;
      border: 0.5rem solid transparent;
      border-top-color: rgba(0, 0, 0, 0.452);
      cursor: pointer;
    }

    .drop_down_wrapper {
      position: absolute;
      width: 100%;
      list-style-type: none;
      box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1),
        -0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.1);
      background-color: #fff;

      li {
        font-size: 1.4rem;
        padding: 1rem 2rem;
        color: rgba(0, 0, 0, 0.7);
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }

        i {
          margin-left: -1rem;
          margin-right: 1rem;
        }

        span {
          font-size: 1.1rem;
          color: rgba(0, 128, 0, 0.521);
          margin-left: 1.5rem;
        }
      }
    }
  }

  .btn {
    font-size: 1.4rem;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .login_btn {
    color: #14a800;
    background-color: transparent;
    border: 1ps solid #14a800;

    &:hover {
      outline: solid;
      outline-offset: 1rem;
      border-radius: 50%;
    }
  }

  .signup_btn {
    background-color: #14a800;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 5rem;
    color: #fff;
    margin-left: 2.5rem;

    @media only screen and (max-width: 21em) {
      margin-left: 1rem;
    }

    &:hover {
      background-color: #127505;
    }
  }
}

.nav_btn_close {
  padding: 2rem;
  font-size: 3rem;
  z-index: 10000;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: none;

  @media only screen and (max-width: 56.25em) {
    display: block;
  }
}

.nav_btn_open {
  position: absolute;
  font-size: 3rem;
  color: #14a800;
  cursor: pointer;
  display: none;
  z-index: 100;

  @media only screen and (max-width: 56.25em) {
    display: block;
  }
}
